# FastAPI environment variables
PROJECT_NAME=tender_service
FIRST_SUPERUSER_PASSWORD=your_superuser_password_here
FIRST_SUPERUSER_EMAIL=admin@example.com
ENCRYPT_KEY=your_fernet_encrypt_key_here
SECRET_KEY=your_jwt_secret_key_here
BACKEND_CORS_ORIGINS=["*"] 

 
# PostgreSQL database environment variables
DATABASE_HOST=database
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=fastapi_db
DATABASE_PORT=5432

 
# Redis variables
REDIS_HOST=redis_server
REDIS_PORT=6379